.banner {
  min-width: 400px;
  min-height: 60px;
  max-width: 800px;
  max-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px black solid;
}

.bannerProfIconContainer {
  min-width: 54px;
  min-height: 54px;
  max-width: 81px;
  max-height: 81px;
  border: 1px black solid;
}

.bannerProfIcon {
  height: 100%;
  width: 100%;
}

.bannerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
