.ui.huge.menu {
  margin-bottom: 0;
}

.banner {
  width: 750px;
  height: 88px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px black solid;
}

.bannerProfIconContainer {
  height: 84px;
  width: 84px;
  border-right: 2px solid black;
}

.bannerProfIcon {
  height: 100%;
  width: 100%;
}

.bannerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/**
*  League Badges
*/
.bannerLeagueContainer {
  width: 30%;
  align-self: stretch;
  /* min-height: 60px;
  max-height: 90px; */
  display: flex;
  flex-direction: row;
}

.bannerLeagueBadge {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leagueBadgeTitle {
  margin-bottom: 0;
}

.leagueBadgeImage {
  width: 51.25px;
  height: 50px;
}

.unranked {
  background-color: gray;
  border: 2px solid black;
}

.bronze {
  background-color: #cd7f32;
  border: 2px solid #8b4513;
}

.silver {
  background-color: grey;
  border: 2px solid darkgrey;
}

.gold {
  background-color: gold;
  border: 2px solid darkgoldenrod;
}

.platinum {
  background-color: lightgrey;
  border: 2px solid grey;
}

.diamond {
  background-color: rgb(10, 149, 236);
  border: 2px solid lightgrey;
}

.master {
  background-color: turquoise;
  border: 2px solid gold;
}

/**
*  CHAMPION PAGE CSS
*/

.championsPage {
  width: 100%;
  height: 100%;
  background-color: black;
}

.championsContainer {
  min-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.championImgContainer {
  width: 0.16666667%;
  height: auto;
  min-width: 220px;
  min-height: 400px;
}

.championImgContainer img {
  width: 100%;
  height: 100%;
}
