.banner {
  min-width: 400px;
  min-height: 60px;
  max-width: 800px;
  max-height: 90px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px black solid;
}

.bannerProfIconContainer {
  min-width: 54px;
  min-height: 54px;
  max-width: 81px;
  max-height: 81px;
  border: 1px black solid;
}

.bannerProfIcon {
  height: 100%;
  width: 100%;
}

.bannerTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/**
*  League Badges
*/
.bannerLeagueContainer {
  width: 30%;
  align-self: stretch;
  /* min-height: 60px;
  max-height: 90px; */
  display: flex;
  flex-direction: row;
}

.bannerLeagueBadge {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unranked {
  background-color: gray;
  border: 2px solid black;
}

.bronze {
  background-color: #cd7f32;
  border: 2px solid #8b4513;
}

.silver {
  background-color: grey;
  border: 2px solid darkgrey;
}

.gold {
  background-color: gold;
  border: 2px solid darkgoldenrod;
}

.platinum {
  background-color: lightgrey;
  border: 2px solid grey;
}

.diamond {
  background-color: rgb(10, 149, 236);
  border: 2px solid lightgrey;
}

.master {
  background-color: turquoise;
  border: 2px solid gold;
}
